a {
    text-decoration: none !important;
}
.navbar-nav {
    --bs-nav-link-padding-y: 0rem !important;
}

/* .navbar-brand {
    text-decoration: red !important;
} */

/* .form-control {
    width: 25rem !important;
} */